.my-flex-container-column{
    border:3px dotted rgb(196, 250, 196);
    background-color: rgb(196, 250, 196);
    height:50px;
    margin-bottom:20px;
    border-radius: 10px;
}
.my-flex-item{
    height: 48px;
    
    height: 96px;
}
#style_icon{
    color: red;
}
